# This file is used to install the necessary Python packages for the project.
requests
protobuf>=3.20.0
python-dotenv
pyroute2
bs4
python-dateutil
## TEMPORARY: Use local TeslaPy until next release is published to PyPI
requests-oauthlib>=1.3.0
websocket-client>=0.59.0
